/* Custom CSS goes here */

/*
File: app.css style sheet code
Name: Kranthi kumar Janardhanaraj
Student ID: 300976059
Web Application Name: COMP308-W2019-Midterm
*/


body {
  padding-bottom: 70px; 
  background-image: url("/Assets/images/bg2.png");
  
  }

  
  
  